<div class="single_blog_item">
    <div class="single_blog_img">
        <img [src]="chefsInput.avatar" alt="">
    </div>
    <div class="single_blog_text text-center">
        <h3 style="text-transform: uppercase;">{{chefsInput.firstName}} {{chefsInput.lastName}}</h3>
        <p>{{chefsInput.speciality}} / 
           <span [ngStyle]="{color:experience(chefsInput.experience)}">{{chefsInput.experience}} ans </span>
        
        </p>
        <div class="social_icon">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
        </div>
    </div>
</div>
