#myTab{
    display: flex;
    justify-content: center;
    
    height: 100px;
}
#myTab li a{
    width: 150px;
    color: gray;
    border-bottom: 1px solid;
    border-color: gray;
    border-top: 0px;
    border-radius: 0px;
}
.regerv_btn{
    display: flex;
    justify-content: center;
    
    
}
.btn_4{
    margin: 10px 10px;
    border-radius: 5px;
}
td{
    width: 150px;
    padding-top: 30px;
}
thead th {
    text-align: center;
}
tbody tr{
    text-align: center;
    
}
